<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel='stylesheet' type='text/css' media='screen' href='estiloLayout5.css'>
    </head>
    <body>
        <div class="div1">
            <div class="tenedor">
            <h1 class="h1"><a class="a">SQUARE REGISTER</a><br>The POS sofware that's<br>simple,powerful, and free</a></h1><br>
            <input type="button" value="Get Started" class="boton">
            </div>
            <img class="imagen1" src="https://previews.123rf.com/images/olegdudko/olegdudko1507/olegdudko150705181/42188318-tablet-mano-tel%C3%A9fono-.jpg">
        </div>    
        <div class="div2"> 
            <div class="div2">
                <div class="movil">
                    <img class="imagen2" src="https://image.freepik.com/vector-gratis/smartphone-marco-pantalla-blanco-blanco-telefono-celular-aislado-ilustracion_172933-274.jpg" >
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque delectus magni, atque quibusdam culpa voluptates a iusto vero error adipisci,</p>
                </div>
                <div class="movil">
                    <img class="imagen2" src="https://image.freepik.com/vector-gratis/smartphone-marco-pantalla-blanco-blanco-telefono-celular-aislado-ilustracion_172933-274.jpg" >
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque delectus magni, atque quibusdam culpa voluptates a iusto vero error adipisci,</p>
                </div>
                <div class="movil">
                    <img class="imagen2" src="https://image.freepik.com/vector-gratis/smartphone-marco-pantalla-blanco-blanco-telefono-celular-aislado-ilustracion_172933-274.jpg" >
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque delectus magni, atque quibusdam culpa voluptates a iusto vero error adipisci,</p>
                </div>
                <div class="movil">
                    <img class="imagen2" src="https://image.freepik.com/vector-gratis/smartphone-marco-pantalla-blanco-blanco-telefono-celular-aislado-ilustracion_172933-274.jpg" >
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque delectus magni, atque quibusdam culpa voluptates a iusto vero error adipisci,</p>
                </div>
            </div>
        </div>
    </body>
</html>