<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel='stylesheet' type='text/css' media='screen' href='estiloresponsivo.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    </head>
    <body>
        <div class="wraper">
                <div class="logo">
                <img   src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/24ae8910979437.5aba853a7f657.png">
                </div>
                <div class="a0">
                            <a >Home</a>
                            <a>Producto</a>
                            <a>Beneficios</a>
                            <a>Blog</a>
                            <a>Fale conosco</a>
                            <a>Login</a>
                            <input class="boton1" type="button" value="Experimente gratis">
                </div>
           
            
                <div class="pc">
                    <div class="imagen1">
                         <img  src="PinClipart.com_computer-programmer-clipart_5383516.png"> 
                    </div>
                    
                </div>
                <div class="h1">
                    <h1 class="">Mais Colaboracao.<br>Maior produtividade.</h1><br>
                </div>
                <div class="parrafo">
                    <span class="">O Socialbase é uma rede social exclusiva para seusfuncioários, clientes e formecedores.</span>
                </div>
                <div class="boton">
                    <input type="button" value="Experimente gratis" class="boton2">
                    <input type="button" value="Saiba Mais" class="boton3">
                </div>
            
        </div>
    </body>
</html>