<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel='stylesheet' type='text/css' media='screen' href='estiloresponsivo2.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    </head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img class="img1" src="https://img2.freepng.es/20200608/swy/transparent-adventure-free-logo-cricut-5ede57ef56eb57.794635931591629807356.jpg">
        </div>  
        <div class="titulo">
            <h1>[Guia] 10 Lugares para um final de semana de aventura!</h1>
        </div>
        <div class="formulario">
           <form>
            <div><label>NOMBRE:</label></div>
            <div><input type="text"></div>
            <div><label>email:</label></div>
            <div><input type="text"></div>
            <div><label>elige</label></div>
            <div><input type="text"></div>
           </form>
        </div>
        <div class="imagen">
            <img src="imagen.jpg">
        </div>
        <div class="descripcion">
            <h4>Todas as regiones do Brasil</h4>
            <span>Seleccionamos dois lugares para cada regiao do Brasil para voce aproveitar una aventura de final de semana en conatato com a naturaleza</span>

        </div>
    </div>
</body>