<!DOCTYPE html>
<html>
    <head>
        <title>camara</title>
        <link rel="stylesheet" type="text/css" href="estiloLayout7.css"/>
    </head>
    <body>
        <div>
            <div class="primero">
                <div >
                    <img src="https://w7.pngwing.com/pngs/640/214/png-transparent-cookeville-logo-graphy-grapher-engagement-grapher-thumbnail.png">
                </div>
               
            </div>
            <div class="contenedor">
                <h1><p class="parrafo">SPECIALIST IN AWESOME<br>PHOTOGRAPHY<br>LET ME CAPTURE YOUT MOMENTS</P></h1>
                <img class="imagen1" src="https://e7.pngegg.com/pngimages/930/260/png-clipart-graphic-film-digital-cameras-graphy-camera-camera-lens-photography.png">
            </div>
            <div class="fotos">
                <div>
                    <h1 class="recent">RECENT<br>PHOTOS<br></h1>
                    <input type="button" value="Portfolio" class="boton">
                </div>
               
                    <img class="tenedor" src="https://static.eldiario.es/clip/71d118ff-5ef2-449c-be8a-6c321304fa70_16-9-aspect-ratio_default_0.jpg" width="100px" height="100px">  
                
                
                    <img class="tenedor" src="https://static.eldiario.es/clip/71d118ff-5ef2-449c-be8a-6c321304fa70_16-9-aspect-ratio_default_0.jpg" width="100px" height="100px">
                    
                    
                    <img class="tenedor" src="https://static.eldiario.es/clip/71d118ff-5ef2-449c-be8a-6c321304fa70_16-9-aspect-ratio_default_0.jpg" width="100px" height="100px"> 
                
                
                    <img class="tenedor" src="https://static.eldiario.es/clip/71d118ff-5ef2-449c-be8a-6c321304fa70_16-9-aspect-ratio_default_0.jpg" width="100px" height="100px"> 
                
                   
            </div>
            <div class="parrafo2">
                <p>
                    Nuestro estudio está en Córdoba y estamos especializados en fotografía de bodas, comuniones y bautizos. ¡Nos apasiona capturar momentos inolvidables!
                    Hacemos también fotografía de embarazadas, fotografía a bebés recién nacidos e infantiles.
                    En campañas especiales, hacemos fotografías de navidad y eventos corporativos.
                </p>
            </div>
        </div>
    </body>
</html>