<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel='stylesheet' type='text/css' media='screen' href='estiloLayout8.css'>
    </head>
    <body>
        <div >
           <div class="encabezado">
               <img  class="logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/24ae8910979437.5aba853a7f657.png" width="600px" height="200px">
                <div class="a0">
                    <a class="a">Home</a>
                    <a class="a">Producto</a>
                    <a class="a">Beneficios</a>
                    <a class="a">Blog</a>
                    <a class="a">Fale conosco</a>
                    <a class="a">Login</a>
                    <input type="button" value="Experimente gratis" class="boton">
                </div>
           </div>
           <div class="main">
                <div>
                   <img class="imagen" src="https://img2.freepng.es/20180623/ify/kisspng-ipad-mini-macbook-air-iphone-x-apple-apple-device-5b2efbc07c4b21.7616399815298057605091.jpg" width="20px"height="20px">
                </div>    
                <div>
                    <h1 class="h1">Mais Colaboracao.<br>Maior produtividade.</h1><br>
                    <a class="parrafo2">O Socialbase é uma rede social exclusiva para seusfuncioários, clientes e formecedores.</a><br>
                    <input type="button" value="Experimente gratis" class="boton2">
                    <input type="button" value="Saiba Mais" class="boton3">
                </div>
            </div class="botones"></div>
        </div>
    </body>
</html>